.container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  background: lightslategray;
}

.navlist {
  text-decoration: none;
}

.lista {
  list-style: none;
  font-size: 1.5em;
}


.product {
  margin: 15em 0 0 2.5em;
}

.product-img {
  border-radius: 10px;
}

.cart-icon {
  position: fixed;
  right: 1em;
  font-size: 2.5em;
  z-index: 99;
}

.cart-counter {
  position: fixed;
  top: 0;
  right: 1em;
}

.cart-container {
  position: fixed;
  right: 2em;
  top: 5em;
  border: 1px solid gainsboro;
  background: black;
  padding: 2em;
  border-radius: 5px;
  scroll-behavior: smooth;
}

.cart-items {
  display: grid;
}

.cart-img {
  width: 50px;
}

.button-input {
  display: grid;
  max-width: 250px;
}

.products-title {
  position: absolute;
  top: 1em;
  left: 40%;
}

.footer-container {
  position: fixed;
  bottom: 0;
}

.margin-left {
  margin-left: 5rem;
}

.create-product-form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  min-width: 10rem;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 2rem;
}